DB_NAME=db
DB_USER=db
DB_PASSWORD=db
DB_HOST=db

WP_ENV=development
WP_HOME=https://worktree-base.ddev.site
WP_SITEURL=${WP_HOME}/wp

# Production: set to true to block in-admin theme/plugin edits
DISALLOW_FILE_MODS=false

# Salts: regenerate via https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
